{% extends "base.html" %}
{% block title %}Facilities{% endblock%}

{% block content%}

<h1 align="center" class="text-2xl xl:text-3xl font-bold"> Hotel Facilities</h1>
  <div class="w3-row-padding w3-padding-16">
    <div class="w3-third w3-margin-bottom">
      <img src=https://www.harpersbazaararabia.com/cloud/2021/09/09/The-Ritz-Carlton-Spa-Dubai-JBR-Relaxation-Facilities-3-1-scaled.jpg alt="spa" style="width:100%">
      <div class="w3-container w3-white">
        <h3>SPA </h3>
        <h6 class="w3-opacity">Enjoy your comfort</h6>
        <p>The Spa at our hotel offers eight treatment rooms featuring a variety of luxurious massage styles, facials, body treatments, and skincare.</p>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src=https://media.cntraveler.com/photos/59dc0961d74f3663416ffe8b/3:2/w_2046,h_1364,c_limit/Pool-COMOMetropolitanMiamiBeach-Florida-CRHotel.jpg alt="spool" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Swimming pool/Jacuzzi</h3>
        <h6 class="w3-opacity">swim for hours!</h6>
        <p>The water comes up here as on a beach and the water level rapidly calms down. Excellent visibility over the pool for users and the swimming pool attendant.</p>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src=https://media.cntraveler.com/photos/53e2e075dddaa35c30f61c59/master/w_1024,h_768,c_limit/st-regis-bali-resort-vista-bar.jpg alt="spa" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Poolside Bar </h3>
        <h6 class="w3-opacity">Get yourself a drink</h6>
        <p>Offering a wide choice of refreshing snacks and drinks. This outlet only operates during the summer season. Customize your drink with your own choices. Pool Bar. </p>
      </div>
    </div>

    <div class="w3-row-padding w3-padding-16">
    <div class="w3-third w3-margin-bottom">
      <img src=https://www.wheretraveler.com/sites/default/files/5705216257_d7e9ce553f_o.jpg alt="spa" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Car parking </h3>
        <h6 class="w3-opacity">valet service available ofcourse!</h6>
        <p>car slots always available</p>
        <p>we park your car and wash it for you</p>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src=http://cdn.cnn.com/cnnnext/dam/assets/180618115357-h15-architecture-image1-highres.jpg alt="spool" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Disable rooms & Interconnecting rooms</h3>
        <h6 class="w3-opacity">relax</h6>
        <p>Interconnecting rooms are available for those travelling with a companion or carer. Our accessible rooms feature thoughtful adaptations to enable mobility and ensure safety, so that every aspect of your stay with us is relaxed.</p>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="https://www.epichotel.com/images/1700-960/fitness-center-803ad724.jpg" alt="spa" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Gym</h3>
        <h6 class="w3-opacity">Workout & feel great!</h6>
        <p>Maintain your exercise routine while traveling, before starting your day or even after a busy day jump down to the gym for cardio machines, weight lifting or even stretching, with a nice view over a busy side of Beirut</p>
      </div>
    </div>

  </div>
{%endblock %}