{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
 
<form method="POST">
    <h1 align="center" class="text-2xl xl:text-3xl font-bold"> Reset Password</h1>
    <div class="form-group">
        <label for="email">Email Adress</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br/>
    <br/>
    <a href="/sign-up">Register Here</a>

</form>
{% endblock %}